div {
    color: blue;
}

p {
    color: green;
    background-color: khaki;
    font-size: xx-large;
    text-align: center;
    width: 80%;
    border: thick red dotted;
    padding: 2px 10px;
}

h1, h2, h3{
    font-family: sans-serif;
}

#s001{
    color: aquamarine;
}

.strike{
    text-decoration: line-through;
}

div p{
    color: blue;
}
h1 > p{
    color: pink;
}
div h1~h2{ color: brown;}
h1 ~h2{color: coral;}